/build
/.git
/.flutter-plugins
/.flutter-plugins-dependencies
/.metadata
/.packages
/advanced_capital_pay.iml
/analysis_options.yaml
/pubspec.lock


/build
/.git
/.flutter-plugins
/.flutter-plugins-dependencies
/.metadata
/.packages
/advanced_capital_pay.iml
/analysis_options.yaml
/pubspec.lock